<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <styla_connect2>
            <general>
                <enable>0</enable>
                <frontend_name>magazine</frontend_name>
            </general>
        </styla_connect2>
    </default>
</config>