<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="styla_connect2" frontName="styla_connect2">
            <module name="Styla_Connect2" />
        </route>
    </router>
</config>