<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <tab id="styla" translate="label" sortOrder="10">
            <label>Styla Connect</label>
        </tab>
 
        <section id="styla_connect2" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Styla Connect2</label>
            <tab>styla</tab>
            <resource>Styla_Connect2::styla_connect2</resource>
            
            <group id="informational" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Styla Connect2</label>
                <attribute type="expanded">1</attribute>
                <frontend_model>Styla\Connect2\Block\Adminhtml\Connector\Config\Hint</frontend_model>
            </group>
            
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable the Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        You can shutdown the whole module, here.
                    </comment>
                </field>
                
                <field id="frontend_name" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend Name (route)</label>
                    <comment>
                        This is the public URL route that will be used for the magazine. Defaults to "magazin", as in "http://your-store-url.com/magazin"
                    </comment>
                </field>
                
                <field id="username" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <comment>
                        Your username. Should be automatically filled when you use the 'connect' link on the top of this page.
                    </comment>
                </field>

                <field id="use_relative_product_url" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Relative Product Urls</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        yes - the product urls generated for the stories will be relative to store domain; no - full urls will be generated
                    </comment>
                </field>
                
                <field id="cache_lifetime" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cache Lifetime</label>
                    <comment>
                        Advanced. You can leave this empty.
                    </comment>
                </field>
                
                <field id="is_using_magento_layout" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Magento Layout on Magazine Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        If enabled, your magazine will be embedded within the normal Magento layout. If disabled, just your Magazine will be visible (no Magento header).
                    </comment>
                </field>
                
                <field id="menu_link_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Magazine Link to Navigation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        If enabled, a "magazine" link will be added to the main (top) navigation menu.
                    </comment>
                </field>
                
                <field id="menu_link_label" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label for the Magazine Menu Link</label>
                    <comment>The label used for the navigation menu link.</comment>
                </field>
            </group>
            
            <group id="developer" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Developer Mode (advanced)</label>
                
                <field id="is_developer_mode" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use developer mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Advanced. Do not enable this if you don't know what it does.
                    </comment>
                </field>
                
                <field id="override_seo_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Override Url for SEO Api</label>
                    <comment>If filled, use this url instead of the automatically-acquired one. Eg. http://seo.styla.com/</comment>
                    <depends>
                        <field id="is_developer_mode">1</field>
                    </depends>
                </field>
                
                <field id="override_cdn_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Override Url for CDN/Assets</label>
                    <comment>If filled, use this url instead of the automatically-acquired one. Eg. http://cdn.styla.com/</comment>
                    <depends>
                        <field id="is_developer_mode">1</field>
                    </depends>
                </field>
                
                <field id="override_api_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Override Url for Styla Content Version API</label>
                    <comment>If filled, use this url instead of the automatically-acquired one. Eg. http://live.styla.com/</comment>
                    <depends>
                        <field id="is_developer_mode">1</field>
                    </depends>
                </field>
            </group>
        </section>
 
    </system>
</config>